/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.ndc.lighten-1 {
    background-color: #0082c8 !important;
}
.ndc-blue-text {
    color: #0082c8;
}
.ndc-green-text {
    color: #47aa42;
}
.ndc {
    background-color: #47aa42;
}
.btn:hover, .btn-large:hover {
    background-color: #20981a !important;
}